footer{
    background-color: var(--background-color);
    padding: 4em;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.footer-title{
    font-size: 1.3em;
    color: var(--white);
}

.footer-item{
    color: var(--white);
    font-size: 2em;
    margin-right: 3rem;
}

@media screen and (max-width:700px) {
    footer{
        flex-direction: column;
        gap: 3em;
        justify-content: center;
        align-items: center;
    }
    .item{
        max-width: 32px;
        margin-right: 1em;
    }
}

@media screen and (max-width:500px) {
    footer{
        padding: 2.5em;
    }
}

@media screen and (max-width:375px) {
    .footer-title{
        font-size: 1.1em;
    }
}