.menu{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    padding: 2em;
    gap: 2em;
    width: 100vw;
}

.menu-item:hover{
    color: aquamarine;
    cursor: pointer;
}

.btn-header{
    color: var(--white);
    background: none;
    border: none;
}

.btn-header:hover{
    color: aquamarine;
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .menu{
        justify-content: space-around;
        font-size: 1.5em;
        gap: 1;
        padding: 0.5em;
    }
    .menu-item{
        padding: 1em;
        margin-right: 0;
        margin-top: 0;
    }
    .blur{
        height: 80%;
        right: 0;
    }
}

@media screen and (max-width: 400px) {
    .menu{
        font-size: 1.3em;
        gap: 0;
    }
    .menu-item{
        padding: 0.8em;
    }
}