.menu{
    color: var(--white);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    padding: 2em;
    width: 100vw;
}

.menu-item{
    margin-right: 1.2em;
}

.menu-item:hover{
    color: aquamarine;
    cursor: pointer;
}

.menu-item:last-child{
    margin-right: 0;
}

.button{
    color: var(--white);
    background: none;
    border: none;
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: -1;
}