.projects{
    background: var(--background-color3);
    padding-top: 6em;
    padding-bottom: 3em;
    padding-left: 20%;
    padding-right: 20%;
}

.projects-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.projects-cards{
    width: 20rem;
    height: 23.5rem;
    z-index: 2;
}

.btn{
    background: var(--background-color3);
    color: var(--white);
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 1em;
    width: 30%;
    position: absolute;
    bottom: 5px;
}

.btn:hover{
    background: rgb(10, 9, 9);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@media screen and (max-width:1650px) {
    .projects{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (max-width:1400px) {
    .projects{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .card{
        width: 17rem;
    }
    .react{
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (max-width:980px) {
    .card{
        width: 14rem;
    }
    .react{
        max-width: 130px;
    }
}

@media screen and (max-width:850px) {
    .projects-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .card{
        width: 18rem;
    }
}